---
import { Icon } from 'astro-icon/components'
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
    <nav>
        <img src="/favicon.svg">
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/download/">Download</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
        </div>
        <div class="social-links">
            <a href="https://ko-fi.com/starixproject" target="_blank">
                <span class="sr-only">Donate to the Starix team</span>
                <Icon name="simple-icons:kofi" />
            </a>
            <a href="https://github.com/strxproject" target="_blank">
                <span class="sr-only">Go to the Starix GitHub organization</span>
                <Icon name="simple-icons:github" />
            </a>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: white;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }
    h2 {
        margin: 0;
        font-size: 1em;
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
    nav img {
        height: 40px;
    }
    .internal-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-links,
    .social-links a {
        display: center;
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
